*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Boxes */
#boxes{
    margin-top:20px;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  #boxes .box img{
    width:150px;
  }